/* ----- contact button animation ----- */
@keyframes move {
  20% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(40%);
  }
  38% {
    transform: translateY(40%);
  }
  41% {
    transform: translateY(60%);
  }
  44% {
    transform: translateY(60%);
  }
  55% {
    transform: translateY(100%);
  }
}

@keyframes eye {
  28% {
    transform: translate(0);
  }
  30% {
    transform: translate(45%, 29%);
  }
  34% {
    transform: translate(45%, 29%);
  }
  36% {
    transform: translate(22%, 19%);
  }
  45% {
    transform: translate(22%, 19%);
  }
  55% {
    transform: translate(0);
  }
}

/* ----- rocket boy animation ----- */
@keyframes floating {
  0% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(2%);
  }
}


/* ----- section title animation ----- */
@keyframes title {
  0% {
    opacity: 0;
    transform: scale(1, .8) translate(0, 0);
  }
  30% {
    opacity: 1;
  }
  60% {
    transform: scale(1, 1.2) translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1, .8) translate(0, 0);
  }
  30% {
    opacity: 1;
  }
  60% {
    transform: scale(1, 1.2) translate(-30%, -30%);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translate(0, 0);
  }
}

@keyframes number {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ----- about section animation ----- */
@keyframes planet {
  0% {
    transform: scaleX(1) rotate(0);
  }
  50% {
    transform: scaleX(-1) rotate(-20deg);
  }
  100% {
    transform: scaleX(1) rotate(0);
  }
}

@keyframes rocket {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}


/* ----- works section animation ----- */
@keyframes ufoWorks {
  0% {
    transform: translate(120%, 0) rotate(0);
  }
  20% {
    transform: translateX(96%) rotate(15deg);
  }
  40% {
    transform: translateX(72%) rotate(-15deg);
  }
  60% {
    transform: translateX(48%) rotate(15deg);
  }
  80% {
    transform: translateX(24%) rotate(-15deg);
  }
  100% {
    transform: translateX(0) rotate(20deg);
  }
}

@keyframes ufoLight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}