@use "../../foundation/variables" as *;

/* ----- button ----- */
.c-button {
  background: $black-color;
  color: $white-color;
}

.c-button--circle {
  @extend .c-button;
  display: block;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.c-button--link {
  @extend .c-button;
  @include lilita();
  height: 7rem;
  border-radius: 3.5rem;
  display: grid;
  place-content: center;
  font-size: 2.4rem;
  line-height: 1.1;

  @include breakpoint(tablet) {
    height: 9rem;
    border-radius: 4.5rem;
    font-size: 3.2rem;
  }
}