@use "../../foundation/variables" as *;

/* ----- button ----- */
.c-button {
  background: $black-color;
  display: block;
  color: $white-color;
}

.c-button--circle {
  @extend .c-button;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}