@use "../../foundation/variables" as *;
@use "sass:math";

/* ----- illustration ----- */
.c-img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.c-alien {
  @extend .c-img;
  width: 35px;
  aspect-ratio: 35 / 43;
  background-image: url(../../../images/nav_alien.png);
  display: block;
  position: relative;
  transform: translateY(100%);
  animation: move 15s infinite;

  @include breakpoint(pc) {
    width: 50px;
  }

  &::before {
    @extend .c-img;
    content: "";
    width: 9.94px;
    aspect-ratio: 14.19 / 13.76;
    background-image: url(../../../images/nav_alien-eye.png);
    display: block;
    position: absolute;
    top: 1.15px;
    left: 16.21px;
    animation: eye 15s infinite;

    @include breakpoint(pc) {
      width: 14.19px;
      top: 1.64px;
      left: 23.16px;
    }
  }
}

.c-rocketBoy {
  @extend .c-img;
  min-width: 146px;
  width: 81.6%;
  aspect-ratio: 146 / 148.2;
  background-image: url(../../../images/fv_rocketBoy.svg);
  position: absolute;
  top: 20.4%;
  right: 22.7%;
  animation: floating 1s ease-in-out infinite alternate-reverse;
}

.c-number {
  @extend .c-img;
  position: absolute;
  opacity: 0;
  transform: translateY(-20%);

  &.-one {
    margin: max(-51%, -115.85px) 0 0 73.7%;
    width: clamp(72.5px, 40.5%, 100px);
    aspect-ratio: 72.5 / 99;
    background-image: url(../../../images/1.png);
    // top: max(-51%, -115.85px);
    // left: 73.7%;
    top: 0;
    left: 0;

    @include breakpoint(pc) {
      margin-top: max(-33.9%, -158.25px);
      // top: max(-33.9%, -158.25px);
      width: min(27.9%, 130.3px);
    }
  }

  &.-two {
    margin-left: 40.5px;
    width: 85px;
    aspect-ratio: 85 / 105;
    background-image: url(../../../images/2.png);
    top: -47px;
    left: 50%;

    @include breakpoint(tablet) {
      margin-left: 69px;
      width: 120px;
      top: -61px;
    }
    @include breakpoint(pc) {
      margin-left: 75px;
      width: 140px;
      top: -72px;
    }
  }
}

.c-planet {
  @extend .c-img;
  margin: 10.9% 4.8% 0 0;
  min-width: 55px;
  width: 30.7%;
  max-width: 110px;
  aspect-ratio: 54.99 / 35.14;
  background-image: url(../../../images/fv_planet-white.svg);
  position: absolute;
  top: 0;
  right: 0;

  @include breakpoint(pc) {
    max-width: 143px;
  }

  &--green {
    @extend .c-img;
    width: 76px;
    aspect-ratio: 1 / 1;
    background-image: url(../../../images/about_planet-green.svg);
    position: absolute;
    top: 0;
    left: 80.6%;
    animation: planet 4s steps(1) infinite;

    @include breakpoint(tablet) {
      margin-bottom: 17.7px;
      top: unset;
      bottom: 100%;
      right: -23px;
      left: unset;
    }
    @include breakpoint(pc) {
      margin-bottom: 48.6px;
      width: 140px;
      right: -80px;
    }
  }
}

.c-star {
  @extend .c-img;
  width: 60.25px;
  aspect-ratio: 60.25 / 39;
  background-image: url(../../../images/secTitle_star.svg);
  opacity: 0;
  transform: scale(1, .8);

  @include breakpoint(tablet) {
    width: 92.7px;
  }

  &.-right {
    scale: -1 1;
  }
}

.c-rocket {
  @extend .c-img;
  width: 114px;
  aspect-ratio: 145 / 114.2;
  background-image: url(../../../images/about_rocket.svg);
  position: absolute;
  top: 274px;
  right: clamp(205px, 48.2vw, 289px);
  animation: rocket 4s steps(1) infinite;

  @include breakpoint(tablet) {
    width: 145px;
    top: 315px;
    right: 182.4px;
  }
  @include breakpoint(pc) {
    width: 225px;
    top: 384px;
    right: 254px;
  }
}

.c-space {
  @extend .c-img;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/fv_space.svg);
}