@use "../../foundation/variables" as *;
@use "sass:math";

/* ----- illustration ----- */
.c-alien {
  width: 35px;
  aspect-ratio: 35 / 43;
  background: url(../../../images/alien.png) center/contain no-repeat;
  display: block;
  position: relative;
  transform: translateY(100%);
  animation: move 15s infinite;

  @include breakpoint(pc) {
    width: 50px;
  }

  &::before {
    content: "";
    width: 9.94px;
    aspect-ratio: 14.19 / 13.76;
    background: url(../../../images/alien_eye.png) center/contain no-repeat;
    display: block;
    position: absolute;
    top: 1.15px;
    left: 16.21px;
    animation: eye 15s infinite;

    @include breakpoint(pc) {
      width: 14.19px;
      top: 1.64px;
      left: 23.16px;
    }
  }
}

/* ----- animation ----- */
@keyframes move {
  20% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(40%);
  }
  38% {
    transform: translateY(40%);
  }
  41% {
    transform: translateY(60%);
  }
  44% {
    transform: translateY(60%);
  }
  55% {
    transform: translateY(100%);
  }
}

@keyframes eye {
  28% {
    transform: translate(0);
  }
  30% {
    transform: translate(45%, 29%);
  }
  34% {
    transform: translate(45%, 29%);
  }
  36% {
    transform: translate(22%, 19%);
  }
  45% {
    transform: translate(22%, 19%);
  }
  55% {
    transform: translate(0);
  }
}