@use '../../foundation/variables' as *;

/* ----- skills section UFO ----- */
.u-skills__ufo {
  position: absolute;
  transform: translateX(-120%);

  @include breakpoint(pc) {
    margin-right: 30px;
  }

  &.is-animated {
    animation: ufoTranslate 2s steps(1), ufoRotate 4s steps(1) 2s infinite;
  }
}