@use '../../../foundation/variables' as *;

.p-works {
  background-color: $gray-color;

  &__list {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include breakpoint(tablet) {
      margin-top: 105px;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
    }
    @include breakpoint(pc) {
      column-gap: 64px;
      row-gap: 50px;
    }

    li {
      width: 100%;

      @include breakpoint(tablet) {
        width: calc((100% - 50px) / 2 );
      }
      @include breakpoint(pc) {
        width: calc((100% - 64px) / 2);
      }

      a:hover {
        opacity: 1;

        figure {
          transform: rotate(-10deg);
        }
      }
    }
  }

  &__ufo {
    width: 101.8px;
    aspect-ratio: 200 / 240;
    position: absolute;
    right: -21.8px;
    bottom: calc(100% - 30.18px);
    transform: translateX(120%);

    @include breakpoint(tablet) {
      width: 136px;
      right: -32px;
      bottom: calc(100% - 27px);
    }
    @include breakpoint(pc) {
      width: 19.9%;
      max-width: 160px;
      right: -40.7px;
      bottom: calc(100% - 21px);
    }

    &.is-animated {
      animation: ufoWorks 2s steps(1) forwards;

      .c-light {
        animation: ufoLight 6s steps(1) infinite;
      }
    }
  }
}