@use '../../foundation/variables' as *;

/* ----- footer ----- */
.p-footer {
  background-color: $blue-color;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    @include breakpoint(tablet) {
      gap: 26px;
    }
    @include breakpoint(pc) {
      gap: 38px;
    }
  }

  small {
    margin-top: 13px;
    display: inline-block;
    font-size: 1rem;

    @include breakpoint(tablet) {
      margin-top: 18px;
      font-size: 1.2rem;
    }
    @include breakpoint(pc) {
      margin-top: 25px;
    }
  }
}