@use "../../foundation/variables" as *;

/* ----- first view ----- */
.p-fv {
  padding: 120px 0 158px;
  width: 100%;
  min-height: 100vh;
  background-color: $yellow-color;
  background-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12.5vh;
  position: relative;
  overflow: hidden;

  @include breakpoint(tablet) {
    padding-top: 175px;
    background-size: 111%;
    gap: 9.6vh;
  }

  @include breakpoint(pc) {
    // padding-top: 19.4vh;
    background-size: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
  }

  &__title {
    @include lilita();
    text-align: center;

    span {
      font-size: clamp(2.4rem ,6.4vw, 4rem);

      @include breakpoint(pc) {
        font-size: 5.6rem;
      }
    }
    
    h1 {
      font-size: clamp(4rem, 10.6vw, 6.4rem);

      @include breakpoint(pc) {
        font-size: 9.6rem;
      }
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
  }

  &__img {
    width: clamp(179px, 47.7%, 358.3px);
    aspect-ratio: 179 / 132.7;
    background: url(../../../images/bg_rocketBoy.svg) center/contain no-repeat;
    position: relative;
  
    @include breakpoint(pc) {
      margin-top: 176px;
      width: 466.7px;
    }
  }
}