@use "../../foundation/variables" as *;

/* ----- hover animation ----- */
.p-navLink {
  position: relative;

  span {
    padding: 0 15px 10px;
    display: inline-block;

    @include breakpoint(tablet) {
      padding-bottom: 2px;
    }
  }

  &__after {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    font-weight: 700;

    @include breakpoint(tablet) {
      display: inline-block;
    }
  }
}