@use "../foundation/variables" as *;

/* ----- navigation layout ----- */
.l-nav {
  padding: 80px 50px;
  width: 340px;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  transition: right .4s ease-in-out .1s;

  @include breakpoint(tablet) {
    padding: 0;
    width: 100%;
    position: static;
  }

  &.is-open {
    right: 0;
  }
}